body {
    margin-top: 80px;
    margin-bottom: 80px;
}

.github-logo {
    margin-left: 10px;
}

.list {
    margin-left: 20px;
}

.left-menu {
    position: fixed;
    top: 80px;
}

footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: white;
}

footer hr {
    width: 80%;
    text-align:center;
    margin: 0 auto;
}

footer p {
    margin-top: 15px;
}

.markdown-toc {
 border: 1px lightgray;
}

.highlight{
    background: rgba(211, 211, 211, 0.4);
}